<#assign className = table.className>   
<#assign classNameLower = className?uncap_first> 

	<bean id="${classNameLower}Service" class="${basepackage}.service.impl.${className}ServiceImpl"/>
	<sofa:service ref="${classNameLower}Service" interface="${basepackage}.service.${className}Service">
		<sofa:binding/>
	</sofa:service>

	<bean id="${classNameLower}Repository" class="${basepackage}.repository.impl.${className}RepositoryImpl"/>
	<sofa:service ref="${classNameLower}Repository" interface="${basepackage}.repository.${className}Repository">
		<sofa:binding/>
	</sofa:service>
<!-- 文件包含后面的这段字符: generator-...-location,则在模板输出的地方,如果发现同名文件,则可将生成内容插入在该标记之后 -->
<!--  generator-insert-location -->

	<sofa:reference id="${classNameLower}Service" interface="${basepackage}.service.${className}Service"/>
	<sofa:reference id="${classNameLower}Repository" interface="${basepackage}.repository.${className}Repository"/>