<#include "/macro.include">
<#assign className = table.className>   
<#assign classNameLower = className?uncap_first> 

#set(<@jspEl 'title'/> = 'create${className}')
#set(<@jspEl 'group'/> = <@jspEl 'form'/>.create${className}.defaultInstance)

<h2>'create${className}'</h2>

<form method="post" action="create${className}.htm">
	<input type="hidden" name="doAction" value="true"/>
	<table  border="0" cellpadding="5" cellspacing="0" width="100%">
	
<#list table.notPkColumns?chunk(3) as rows>
	<tr>
	<#list rows as column>
			<td width="15%" align="right">${column.columnName}</td>
			<td>
				<input type="text" name="$!group.${column.columnNameFirstLower}.key" value="$!group.${column.columnNameFirstLower}.value"/>
				#errorMessage($!group.${column.columnNameFirstLower})
			</td>

	</#list>
	</tr>
</#list>
	
		<tr>
		<td colspan="2">
			<div align="center"><input type="submit" value="create${className}"></div>
		</td>
		</tr>
	</table>
</form>