<?xml version="1.0" encoding="UTF-8"?>
<!-- 
修改说明:

 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-autowire="byName" default-lazy-init="false">

	<bean id="mailEngine" class="javacommon.mail.MailEngine">
		<property name="sendMailThreadPool" value="3" />
		<property name="mailSender" ref="mailSender" />
    </bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.126.com" />
		<property name="username" value="rapidframework" />
		<property name="password" value="123456" />
		<property name="defaultEncoding" value="GBK" />
		
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

</beans>
