<#include "/macro.include">
<#assign className = table.className>   
<#assign classNameLower = className?uncap_first> 

#set(<@jspEl 'title'/> = 'query ${table.tableAlias}')
#set(<@jspEl 'group'/> = <@jspEl 'form'/>.query${className}.defaultInstance)

<h2>query ${table.tableAlias}</h2>

<form method="post" action="query${className}.htm">
	<input type="hidden" name="doAction" value="true"/>
	<table  border="0" cellpadding="5" cellspacing="0" width="100%">
	
<#list table.notPkColumns?chunk(3) as rows>
	<tr>
	<#list rows as column>
		<#if column.isDateTimeColumn && !column.contains("begin,start,end")>
		<td width="15%" align="right">${column.columnAlias} Range</td>
		<td>
			<input type="text" name="${column.columnNameFirstLower}Begin" value="$!rundata.parameters.${column.columnNameFirstLower}Begin"/>
			~
			<input type="text" name="${column.columnNameFirstLower}End" value="$!rundata.parameters.${column.columnNameFirstLower}End"/>
		</td>
		<#else>
		<td width="15%" align="right">${column.columnAlias}</td>
		<td><input type="text" name="${column.columnNameFirstLower}" value="$!rundata.parameters.${column.columnNameFirstLower}"/></td>
		</#if>  
		
	</#list>
	</tr>
</#list>
	
	<tr>
		<td colspan="4">
			<div align="center"><input type="submit" value="query"></div>
		</td>
	</tr>
	</table>
</form>


<table class="gridTabalBody" border="1">
	<tr>
	<#list table.notPkColumns as column>
		<th>${column.columnAlias}</th>
	</#list>	
	</tr>

	<#noparse>#foreach( $item in  $pageList.itemList)</#noparse>
	<tr>
	<#list table.notPkColumns as column>
		<td>$!item.${column.columnNameFirstLower}</td>
	</#list>	
	</tr>
	#end	
</table>