
input.required, textarea.required {
	border: 1px solid #00A8E6;
}
input.validation-failed, textarea.validation-failed {
	border: 1px solid #FF3300;
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	border: 1px solid #00CC00;
	color : #000;
}

/* 出错时显示信息使用的默认样式1 */
.validation-advice {
	font-size: 10pt;
	margin: 0px 0;
	padding: 0px;
	color : red;
	font-weight: bold;
}

.custom-advice1 {
	margin: 5px 0;
	padding: 5px;
	background-color: #DFF3FB;
	color : #FF3300;
	font-weight: bold;
}

.custom-advice2 {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

.custom-advice3 {
  border: solid orange 1px;
  margin: 5px 0;
  padding: 5px;
  font-weight: bold;
  color : #000000;
  background-color: #ff009d;
  background-image: url(grad_white.png);
}

