.gridTable {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

/** grid body */
.gridBody {
	border-right: 1px solid silver;
	border-top: 1px solid silver;
}
.gridBody th {
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	vertical-align: middle;
	background-color: #E5E5E5;
	padding:0 10px 0 0;
}
.gridBody td {
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	color: black;
}

/** grid header sort */
.gridBody th.sort {
}
.gridBody th.sort.desc {
	background:#c5c5c5 url(images/sort_desc.gif) center right no-repeat
}
.gridBody th.sort.asc {
	background:#c5c5c5 url(images/sort_asc.gif) center right no-repeat
}

/** mouse hove over sort header */
.gridBody .tableHeaderSortHover {
	background-color: #f5f5f5 !important;
	text-decoration: underline;
	cursor: pointer;
}

/** gridBody row colors */
.gridBody .odd {
	background-color: #FFFFFF;
}
.gridBody .even {
	background-color: #F8F8F8;
}
.gridBody .highlight {
	background-color: #fdeccf !important;
}

/** grid toolbar */
.gridToolbar .leftControls {
}
.gridToolbar .paginationControls .buttonLabel{
	margin:0 0 0 12px
}
.gridToolbar .box div {
	display:inline;
	float:left;
}
.gridToolbar .box .paginationControls {
	float:right;
}
.gridToolbar td{
	background-color: #F4F4F4;
}

.gridBody .odd a, .even a {
	font-size: 12px;
	color: 005C9C !important;
}